<div id="<%= dom_id meeting %>">
  <p>
    <strong>Name:</strong>
    <%= meeting.name %>
  </p>

  <p>
    <strong>Star time:</strong>
    <%= meeting.star_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= meeting.end_time %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= meeting.users_id %>
  </p>

</div>
